@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(60px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slide-in {
  animation: slideIn 0.7s ease-out forwards;
}

.glance-effect {
  position: relative;
  overflow: hidden;
}

.glance-effect::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 60%;
  height: 100%;
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(255, 255, 255, 0.1) 100%
  );
  transform: skewX(-20deg);
  animation: glance 3s infinite;
}

@keyframes glance {
  0% {
    left: -100%;
  }
  100% {
    left: 200%;
  }
}

